body{
    background-color:#014397;  
}
.app-header{
    color:white;
}
a:hover{
    text-decoration:none;
    color: black;
}
.logo{
    padding: 10px;
}

#login_btn{
    margin-top:10px;
    margin-bottom:15px;
}

#register_links {
    font-size:120%;
    color: #ffffff;
}

#register_links a{
    color: #51a351;
    text-decoration:underline;
}

.separator{
    margin-left:5px;
    margin-right:5px; 
}

#register_links a:hover{
    color: #ffffff;
}

