<div class="navbar">
    <div class="back-arrow btn btn-success">
        <a href="#/action">
            <i class="icon-white icon-chevron-left">
            </i>
                Back
        </a>
    </div>
    
    <div class="page-heading">
        <h4>
            <a id="home" class="app-header" href="#/login">
                Transaction History
            </a>
        </h4>
        
    </div>
</div>
<p class="clearfix"/>
<div class="offset1">
    <div>
        <img class="media-object" src="../images/profile.gif" />
    </div>
     <h4>
        ACCOUNT BALANCE
    </h4>

     <h3>
        {{ balance }}
    </h3>
UGX</div>
<div> <span>
        Name:
    </span>
 <span>
        {{first_name}} {{last_name}}
    </span>

</div>
<div> <span>
        NSSF No:
    </span>
 <span>
        {{ nssf_number}}
    </span>

</div>
<div> <span>
        Address
    </span>
 <span>
        {{address}}
    </span>

</div>
<div> <span>
        Period
    </span>
 <span>
        31 June 1995 - 20 May 2015
    </span>

</div>