<div class="navbar">
    <div class="back-arrow btn btn-success">
        <a href="#/action">
            <i class="icon-white icon-chevron-left">
            </i>
            Back
        </a>
    </div>

    <div class="page-heading">
        <h4>
            <a id="home" class="app-header" href="#">
                My Account
            </a>
        </h4>

    </div>
</div>
<p class="clearfix"/>
<div id="accounts_page">
    <div class="center_text">
        <h3>
            Balance : {{balance}} UGX
        </h3>
    </div>
    <div> <span class="title">
        Name:
    </span>
 <span class="value">
        {{first_name}} {{last_name}}
    </span>

    </div>
    <div> <span class="title">
        NSSF No:
    </span>
 <span class="value">
        {{ nssf_number}}
    </span>

    </div>
    <div> <span class="title">
        Address:
    </span>
 <span class="value">
        {{address}}
    </span>

    </div>
    <div> <span class="title">
        Period:
    </span>
 <span class="value">
        31 June 1995 - 20 May 2015
    </span>

    </div>
</div>