<form id="register_form">
    
    <input class="span5" type="text" name="Name" id="name" placeholder="Name"/>
    
    <input class="span5" type="text" name="NSSF Number" id="nssf-number" placeholder="NSSF Number"/>
    <textarea class="span5" name="Address" id="address" placeholder="Address">
    </textarea>
    <input class="span5" type="text" name="Date Of Birth" id="dob" placeholder="Date Of Birth"/>
    <input class="span5" type="text" name="Fathers Name" id="father-name" placeholder="Father's Name"/>
</form>
<a href="/register_btn" class="span1 btn btn-primary" id="register_btn">
    Register
</a>