<div class="navbar">
    <div class="back-arrow btn btn-success">
        <a href="#/action">
            <i class="icon-white icon-chevron-left">
            </i>
                Back
        </a>
    </div>
    
    <div class="page-heading">
        <h4>
            <a id="home" class="app-header" href="#">
                Transaction History
            </a>
        </h4>
        
    </div>
</div>
<p class="clearfix"/>
<div id="transaction_table">
    <table>
        {{#data}}
        <tr>
            <td>
                {{date}}
            </td>
            <td>
                {{transaction_detail}}
            </td>
            <td>
                {{amount}}
            </td>
        </tr>
        {{/data}}
    </table>
</div>